Repository ollien/pillminder: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, npm-lint, npm-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mix-format
        name: mix format
        description: Formats Elixir files with mix format.
        language: system
        entry: bash -c "cd app && mix format"
        files: \.exs?$
  - repo: local
    hooks:
      - id: npm-lint
        name: npm run lint
        language: system
        files: web-client/.*
        entry: bash -c "cd web-client && npm run lint"
  - repo: local
    hooks:
      - id: npm-format
        name: npm run format
        language: system
        files: web-client/.*
        entry: bash -c "cd web-client && npm run format"

Fix bug where stats page was in reverse order
  web-client/src/pages/stats/History.tsx
Due: npm-lint, npm-format

Add docker images/compose files for project
  .dockerignore
  .gitignore
  app/config/config.exs
  app/config/dev.exs
  app/config/prod.exs
  app/lib/pillminder/config.ex
  app/lib/pillminder/notifications.ex
  app/lib/pillminder/release.ex
  app/lib/pillminder/web_router.ex
  app/mix.exs
  docker-compose.yml
  docker/app/Dockerfile
  docker/app/entrypoint.sh
  docker/web/Dockerfile
  docker/web/nginx.conf
  web-client/src/lib/api.ts
Due: mix-format, npm-lint, npm-format

Add skeleton of README
  README.md
Due: none

Add license
  LICENSE
Due: none

Remove default port from compose file
  README.md
  docker-compose.yml
Due: none

Fix bug where null last_taken_dates were not account for in response validation
  web-client/src/lib/api.ts
Due: npm-lint, npm-format

Dismiss timers before starting new ones
  app/lib/pillminder.ex
  app/lib/pillminder/application.ex
  app/lib/pillminder/auth.ex
  app/lib/pillminder/scheduler.ex
Due: mix-format

Use info levels in prod
  app/config/prod.exs
Due: mix-format

Add TODO about refactoring Scheduler
  app/lib/pillminder/scheduler.ex
Due: mix-format

Remove stray debug print
  app/lib/pillminder/auth/token_authenticator.ex
Due: mix-format

Refactor scheduler to be a supervisor, rather than a weird task-supervisor hybrid
  app/lib/pillminder/scheduler.ex
Due: mix-format

Add ability to set timezone for specific timers
  app/config/runtime.exs
  app/lib/pillminder/application.ex
  app/lib/pillminder/config.ex
  app/lib/pillminder/config/timer.ex
  app/lib/pillminder/scheduler.ex
  app/lib/pillminder/scheduler/scheduled_reminder.ex
  app/lib/pillminder/util/time.ex
Due: mix-format

Change development server to point to new web-client location
  app/lib/pillminder/web_router.ex
Due: mix-format

Sort history dates properly
  app/lib/pillminder/web_router/stats.ex
Due: mix-format

Fix bug where streaks would be invalidated by taking medication more than 24 hours apart
  app/lib/pillminder/stats.ex
  app/test/pillminder/stats/stats_test.exs
Due: mix-format

Use reminder timezone for stats rather than machine local time
  app/lib/pillminder/web_router/stats.ex
Due: mix-format

Fix bug where snoozing a not-running timer would 500
  app/lib/pillminder/web_router/timer.ex
Due: mix-format

Record time medication is taken in local timezone
  app/lib/pillminder/web_router/timer.ex
Due: mix-format

Refactor auth to not use a plug
  app/config/runtime.exs
  app/lib/pillminder/web_router.ex
  app/lib/pillminder/web_router/helper/auth.ex
  app/lib/pillminder/web_router/plugs/auth.ex
  app/lib/pillminder/web_router/stats.ex
  app/lib/pillminder/web_router/timer.ex
  app/test/pillminder/web_router/helper/auth_test.exs
  app/test/pillminder/web_router/plugs/auth_test.exs
Due: mix-format

Suppress incorrect dialyzer warning
  app/lib/pillminder/web_router/helper/auth.ex
Due: mix-format

Fix outdated moduledoc
  app/lib/pillminder/web_router/helper/auth.ex
Due: mix-format

Move not found response into a common function
  app/lib/pillminder/web_router/helper/auth.ex
  app/lib/pillminder/web_router/helper/response.ex
  app/lib/pillminder/web_router/stats.ex
  app/lib/pillminder/web_router/timer.ex
Due: mix-format

Make HTTP listen address and port configurable
  app/lib/pillminder/application.ex
  app/lib/pillminder/config.ex
  app/lib/pillminder/config/server.ex
  app/lib/pillminder/web_router/helper/response.ex
Due: mix-format

Add new configuration options to README
  README.md
Due: none

Add development instructions to README
  README.md
  app/config/runtime.exs
Due: mix-format

Fix syntax errors in example config
  README.md
Due: none

Clarify intent of app in README
  README.md
Due: none

Add missing docblock to load_server_settings_from_env
  app/lib/pillminder/config.ex
Due: mix-format

Fix incorrect typespec for server config
  app/lib/pillminder/application.ex
  app/lib/pillminder/config.ex
Due: mix-format

Fix incorrect dependency ordering in application.ex
  app/lib/pillminder/application.ex
Due: mix-format

Minor README wrapping change
  README.md
Due: none

Add ability to use ntfy api key to authenticate with their API
  README.md
  app/lib/pillminder/config.ex
  app/lib/pillminder/config/timer.ex
  app/lib/pillminder/notifications.ex
  app/lib/pillminder/notifications/ntfy.ex
Due: mix-format

Fix bug on DST boundary where final result would be an hour off
  app/lib/pillminder/util/time.ex
  app/test/pillminder/util/time_test.exs
Due: mix-format

Update README with more context for the application
  README.md
  img/notification.png
  img/stats.png
Due: none

Add note about web UI to README
  README.md
Due: none

Fix status code parsing for invalid token
  web-client/src/lib/api.ts
Due: npm-lint, npm-format

Refactor Stats page to put the card contents in its own component
  web-client/src/pages/stats/Stats.tsx
  web-client/src/pages/stats/StatsCardContents.tsx
Due: npm-lint, npm-format

Wrap main card components in error boundaries
  web-client/package-lock.json
  web-client/package.json
  web-client/src/pages/_common/CardError.tsx
  web-client/src/pages/_common/errors.ts
  web-client/src/pages/login/Login.tsx
  web-client/src/pages/stats/ErrorText.tsx
  web-client/src/pages/stats/Loadable.tsx
  web-client/src/pages/stats/Stats.tsx
  web-client/src/pages/stats/StatsCardContents.tsx
Due: npm-lint, npm-format

Refactor fetches to use React Query instead of a home-rolled hook
  web-client/.eslintrc.json
  web-client/package-lock.json
  web-client/package.json
  web-client/src/pages/stats/Loadable.tsx
  web-client/src/pages/stats/Stats.tsx
  web-client/src/pages/stats/StatsCardContents.tsx
  web-client/src/pages/stats/index.tsx
Due: npm-lint, npm-format

Add missing 400 to auth endpoint
  app/lib/pillminder/web_router/auth.ex
Due: mix-format
