Repository ollien/pillminder: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, npm-lint, npm-format

mix-format:
  name: mix format
  description: Formats Elixir files with mix format.
  language: system
  entry: bash -c "cd app && mix format"

npm-lint:
  name: npm run lint
  language: system
  entry: bash -c "cd web-client && npm run lint"

npm-format:
  name: npm run format
  language: system
  entry: bash -c "cd web-client && npm run format"

Fix find/replace error in access code error message
  app/lib/pillminder/web_router/auth.ex
Due: mix-format

Make default server error message empty
  app/lib/pillminder/web_router.ex
Due: mix-format

Make all responses from the api JSON
  app/lib/pillminder/web_router.ex
  app/lib/pillminder/web_router/auth.ex
  app/lib/pillminder/web_router/helper/set_content_type_plug.ex
  app/lib/pillminder/web_router/stats.ex
  app/lib/pillminder/web_router/timer.ex
  app/test/pillminder/web_router/helper/set_content_type_plug_test.exs
Due: mix-format

Refactor API client; use for react query retries
  web-client/.eslintrc.json
  web-client/package-lock.json
  web-client/package.json
  web-client/src/lib/api.ts
  web-client/src/pages/login/AccessCodeStage.tsx
  web-client/src/pages/login/PillminderStage.tsx
  web-client/src/pages/stats/StatsCardContents.tsx
  web-client/src/pages/stats/index.tsx
Due: npm-lint, npm-format

Remove unneeded closure in Stats component
  web-client/src/pages/stats/Stats.tsx
Due: npm-lint, npm-format

Remove unneeded function in StatsCardContents
  web-client/src/pages/stats/StatsCardContents.tsx
Due: npm-lint, npm-format

Add ability to mark medication as taken before the reminder has fired
  app/lib/pillminder/scheduler.ex
  app/lib/pillminder/scheduler/skip_date.ex
  app/lib/pillminder/web_router/timer.ex
  app/test/pillminder/scheduler/skip_dates_test.exs
  app/test/pillminder/scheduler_test.exs
Due: mix-format

Add ability to cancel reminders for the day
  app/lib/pillminder/util/query_param.ex
  app/lib/pillminder/web_router/timer.ex
Due: mix-format

Use context to pass pillminder/token data in web client
  web-client/src/pages/stats/Stats.tsx
  web-client/src/pages/stats/StatsCardContents.tsx
  web-client/src/pages/stats/auth_context.ts
  web-client/src/pages/stats/index.tsx
Due: npm-lint, npm-format

Add github actions for checking build and tests on push
  .github/workflows/push.yml
Due: none

Minor docblock cleanup
  app/lib/pillminder/reminder_sender/reminder_timer.ex
Due: mix-format

Add icons to controls buttons
  web-client/src/pages/_common/errors.ts
  web-client/src/pages/stats/Controls.tsx
  web-client/src/pages/stats/HistoryListItem.tsx
  web-client/src/pages/stats/StatsCardContents.tsx
Due: npm-lint, npm-format

Consolidate History components into History file
  web-client/src/pages/stats/History.tsx
  web-client/src/pages/stats/HistoryListItem.tsx
Due: npm-lint, npm-format

Add collapsable menu for controls
  web-client/src/pages/stats/IconMenu.tsx
  web-client/src/pages/stats/StatsCardContents.tsx
Due: npm-lint, npm-format

Add rudimentary ability to mark taken and skip today from the stats page
  web-client/src/lib/api.ts
  web-client/src/pages/stats/Controls.tsx
  web-client/src/pages/stats/StatsCardContents.tsx
Due: npm-lint, npm-format

Add dialog box to confirm skipping
  web-client/src/pages/stats/Controls.tsx
Due: npm-lint, npm-format

Always use UTC in tests
  app/config/test.exs
Due: mix-format

Use buildkit when building dockerfile in GHA
  .github/workflows/push.yml
Due: none

Fix bug where streak breaks within a 48 hour window wouldn't count
  app/lib/pillminder/stats.ex
  app/test/pillminder/stats/stats_test.exs
Due: mix-format

Use otp-25 as base image for building app
  docker/app/Dockerfile
Due: none

Give up on reminders at the end of the day
  app/lib/pillminder.ex
  app/lib/pillminder/application.ex
  app/lib/pillminder/reminder_sender.ex
  app/lib/pillminder/reminder_sender/reminder_timer.ex
  app/lib/pillminder/reminder_sender/send_server.ex
  app/lib/pillminder/reminder_sender/timer_manager.ex
  app/test/pillminder/reminder_sender_test.exs
Due: mix-format

Run updated mix format on codebase
  app/lib/pillminder/auth/token_authenticator.ex
  app/lib/pillminder/reminder_sender.ex
  app/lib/pillminder/reminder_sender/reminder_timer.ex
  app/lib/pillminder/reminder_sender/send_server.ex
  app/lib/pillminder/reminder_sender/timer_manager.ex
  app/lib/pillminder/scheduler.ex
  app/lib/pillminder/scheduler/scheduled_reminder.ex
  app/lib/pillminder/scheduler/skip_date.ex
  app/lib/pillminder/web_router/timer.ex
  app/test/pillminder/auth/token_authenticator_test.exs
Due: mix-format

Update docker image to use 1.15
  docker/app/Dockerfile
Due: none

Fix race conditions in the scheduler test by calling the clock source less often
  app/lib/pillminder/scheduler.ex
  app/mix.exs
  app/mix.lock
  app/test/pillminder/scheduler_test.exs
Due: mix-format

Improve error handling for ntfy failures
  app/lib/pillminder/application.ex
  app/lib/pillminder/reminder_sender/send_server.ex
Due: mix-format

Fix edgecases around 12/24h boundaries with streaks
  app/lib/pillminder/stats.ex
  app/test/pillminder/stats/stats_test.exs
Due: mix-format

Move dialyzer into mix file
  app/mix.exs
  app/mix.lock
Due: mix-format

Fix deprecation warning for Logger.warn
  app/lib/pillminder/web_router/timer.ex
Due: mix-format

Make scheduler tests less brittle
  app/lib/pillminder/scheduler.ex
  app/test/pillminder/scheduler_test.exs
Due: mix-format

Fix bug where taking medication would stop reminders for the next day
  app/lib/pillminder/scheduler.ex
  app/test/pillminder/scheduler_test.exs
Due: mix-format

Make tests that cannot be async sync
  app/lib/pillminder/auth.ex
  app/test/pillminder/auth_test.exs
  app/test/pillminder/scheduler_test.exs
Due: mix-format

Fix bug where streaks would break if taken after the end of a UTC day
  app/lib/pillminder/stats.ex
  app/test/pillminder/stats/stats_test.exs
Due: mix-format

Correct configuration value for fudge time in README
  README.md
Due: none

Upgrade to Elixir 1.16
  app/mix.exs
  app/mix.lock
  docker/app/Dockerfile
Due: mix-format

Clean up `with` statement for setting up timers
  app/lib/pillminder/reminder_sender/reminder_timer.ex
  app/lib/pillminder/reminder_sender/send_server.ex
Due: mix-format

Fix bug where snoozed timers would not respect the stop time
  app/lib/pillminder/reminder_sender/reminder_timer.ex
  app/test/pillminder/reminder_sender_test.exs
Due: mix-format

Path conditions:
  mix-format: any of: \.exs?$
  npm-lint: any of: web-client/.*
  npm-format: any of: web-client/.*
